@mixin flex($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: wrap;
}
.logInPage {
  height: 100vh;
  @include flex(center, column);
}
